name: Backport
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-18.04
    name: Backport
    steps:
      - name: Backport Bot
        uses: Gaurav0/backport@v1.0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
